body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.introduction-part{
    display: flex;
    
}
h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 45px;
    padding-left: 4%;
    margin-bottom: 0;
  
}
h3{
    font-size: 30px ;
}

#heading-color{
    color: #52BE80;
}
.head-line{
    border-left: 4px solid rgb(105, 52, 155);
    border-radius: 2px;
}
.new-mission{
    width: 50%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    
    
}
.button{
    text-decoration: none;
    padding: 10px 30px;
    background-color: #A569BD;
    border-radius: 5px;
    font-weight: 700;
    color: white;

}
.person{
    width: 70%;
}

.mission-objective{
    display: flex;
}
.objectives{
    padding:2%;
}
.discription-heading{
    font-size: 35px;
    font-weight: 700;
    margin-left: 35%;
}
.objective-year{
    color: #52BE80;
}

.objectives img{
    width: 50%;
}
.mission{
    background-color: #FDEBD0  ;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 5%;
    border-radius: 15px;
}
.vision{
    background-color: #D4EFDF;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
    border-radius: 15px;
    
}
.goals{
    background-color: #D5D8DC;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 5%;
    border-radius: 15px;
}

.forword{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 18% 35%;   
    background-position: left;
    display: flex;
}
.community{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 18% 35%;   
    background-position: right;
    display: flex;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
   
}


